{% extends "base.html" %}
{% block title %}Темы{% endblock %}

{% block content %}
<h3 class="mb-4">Выберите тему:</h3>

<div class="row g-4">
    {% for block_id, block in blocks.items() %}
    <div class="col-md-6">
        <a href="/blocks/{{ block_id }}" style="text-decoration:none; color:inherit;">
            <div class="card task-card p-3">
                <h5>{{ block.title }}</h5>
                <p>{{ block.description }}</p>
            </div>
        </a>
    </div>
    {% endfor %}
</div>
{% endblock %}
