{% extends "base.html" %}
{% block title %}{{ task.title }}{% endblock %}

{% block content %}
<h3>{{ task.title }}</h3>

<p>{{ task.description }}</p>

<div class="card mb-3">
    <div class="card-body">
        <pre><code>{{ task.snippet }}</code></pre>
    </div>
</div>

<form method="post" action="/tasks/{{ task_id }}/submit">
    <div class="mb-3">
        <label class="form-label">{{ task.input_label }}</label>
        <input type="text"
               name="code"        <!-- ВАЖНО: именно code -->
               class="form-control"
               autocomplete="off">
    </div>
    <button class="btn btn-primary">Отправить</button>
</form>

<a href="/" class="btn btn-link mt-3">← Назад к списку задач</a>
{% endblock %}
